body {

  font-family: Arial;
  background-color: rgba(237, 236, 236, 0.856);
}

article {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden;
  width: 21%;
  border-radius: 7px;
  margin: 20px auto;
  background-color: white;
}

div {
  padding: 5px 40px;
}

h3 {
  margin: 0px;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.main-text {
  margin: 0px;
  padding: 8px 0px 0px 0px;
}

footer {
  padding: 20px 0px;
}

.bold-text {
  margin: 0;
  font-weight: bold;
}

.italic-text {
  margin: 0;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}