body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

p, ul, ol {
    padding-bottom: 1.5rem;
}
ul,ol {
    padding-left: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;

  }
  
tbody > tr, td {
    padding: 2px 5px;
    border: 1px solid black;
  }
  
thead tr {
    background-color:darkgrey;
    font-weight: bold;
  }
  
tbody tr {
    padding: 2px 5px;
    border-bottom: 1px solid #dddddd;
  }
  
tbody tr:nth-of-type(odd) {
    background-color:rgb(222, 219, 219) ;
  }

blockquote {
    margin: 20px;
    padding: 20px;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.author {
    text-align: right;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}
  